<select disabled={{disabled}} class="{{class}}" {{action 'change' on='change'}}>
  {{#if prompt}}
    <option disabled selected={{is-not selection}}>
      {{prompt}}
    </option>
  {{/if}}
  {{#if plants}}
	  {{#each plantsSorted as |item|}}
	    <option value={{read-path item optionValuePath}}>
	      {{read-path item optionLabelPath}}
	    </option>
	  {{/each}}
  {{else}}
	Loading...
  {{/if}}
</select>
