<!-- begin cesium -->

<div id="cesium-main" data-video="http://player.vimeo.com/external/97766233.sd.mp4?s=5df211c4da525ce8da33fddd981d52df">
  <div id="cesium-submain" class="full-height map-overlap">

    <div class="row cesium-top-margin"></div>

    <div id="cesium-left-col" class="col-md-3 full-height">
<!--      <div class="form-horizontal span8">-->
      <div id="select-group">
        <div id="plant-desc" class="map-step">
          Step 1: Choose a species
          <button class="cesium-modal-button" {{action 'showModal' 'maptip1-modal'}}>?</button>
          {{!--
          <div id="maptips" class="tip1">&nbsp;
            <span class="tips">
              <h3>How do I get a map?</h3><br>
              <h4>Follow these steps to get a map.</h4>
              <ol>
                <li>Select desired tree species</li>
                <li>Select desired climate scenario</li>
                <li>Select a year</li>
                <li>Click GET MAP to refresh Google Earth with your final selections.</li>
              </ol>
            </span>
          </div>
          --}}
        </div> 
        <p><hr class="maps-hr"></p>
        <div class="form-group form-group-1">
          <div class="controls">
            {{view "select"
              id="plantSelect"
              contentBinding="controllers.plants.arrangedContent"
              optionValuePath="content.sci_name"
              optionLabelPath="content.name"
              selectionBinding="controller.species"
              prompt="Aspen, Quaking"
            }}
          </div>
        </div>
      </div>
      <div id="rcp-group" class="rcp-toolbar btn-group rcp-group-toolbar">
        <div id="rcp-desc" class="map-step">
          Step 2: Choose a Climate Scenario
          <button class="cesium-modal-button" {{action 'showModal' 'maptip2-modal'}}>?</button>
            {{!--
            <div id="maptips" class="tip2">&nbsp;
              <span class="tips">The best-case climate change scenario (rcp 2.6) is where C)<sub>2</sub> emissions rise from current-day rates of ~9 billion tons per year, peak around mid-21<sup>st</sup> century, then decline to zero by the end of the 21<sup>st</sup> century. Under the worst-case scenario (rcp 8.5) - "business as usual" - emissions continue to rise at a relatively high rate throughout most of the 21<sup>st</sup> century, then stabilize at ~30 billion tons per year by the end of the century. See <a href="#/headlines/climate">Forest Change</a> for more information.
              </span>
            </div>
            --}}
            <p><hr class="maps-hr"></p>
            <div class="btn-row">
              <div id="rcp26-label" {{action 'setBestRcp' '0' }} class="col-sm-6 btn-temp active-label">
                {{!--{{view Forest.RadioButton id="best-case" name="rcp-radio" selectionBinding="selectedRcp" value="rcp26"}}--}}
                <label class="rcp-label" for="best-case">
                  <div class="best-case-label"></div>
                  Best Case
                </label>
              </div>
              <div id="rcp85-label" {{action setWorstRcp}} class="col-sm-6 btn-temp">
                {{!--{view Forest.RadioButton id="worst-case" class="rcp-radio" selectedBinding="selectedRcp" value="rcp85"}}--}}
                <label class="rcp-label" for="worst-case">
                  <div class="worst-case-label"></div>
                  Worst Case
                </label>
              </div>
            </div>
        </div>
      </div>

        <div id="submit-group" class="form-group map-step">
         <p id="submit-desc" class="map-step">
           Step 3: Get the forest forecasts
         </p>
         <hr class="maps-hr">
         <p></p>
         <div id="get-map-container">
          <div id="get-map">
            <button type="submit" id="map-submit" class="btn btn-map" {{action 'reloadLayers'}}>
              Load it!
              <i class="spinner">
                <div class="glyphicon glyphicon-refresh">
                </div>
              </i>
              <span class="arrow">
                <i class="glyphicon glyphicon-arrow-right">
                </i>
              </span>
            </button>
          </div> <!-- get-map-container -->
        </div> <!--submit-group -->
       </div>


        <!-- year on top, controls on bottom -->
        <div id="year-group" class="form-group btn-group year-group-large">
          <p id="year-desc" class="map-step" class="year-desc-3">
           Step 4: Animate the future forest
            <hr class="maps-hr">
          </p>
          <div id="year-field-container" class="col-sm-12">
            {{view Ember.TextField valueBinding="controller.year" class="year-field"}}
          </div>
          <div id="year-controls-container" class="col-sm-12">
            <div class="minus-container col-sm-3">
              <button id="minusYear" class="btn-control" {{action 'minusYear'}}>{{fa-icon "minus"}}</button>
            </div>
            <div class="play-container col-sm-6">
              <button id="playPause" class="btn-control fa fa-play" {{action 'playPause'}}></button> 
            </div>
            <div class="plus-container col-sm-3">
              <button id="plusYear" class="btn-control" {{action 'plusYear'}}>{{fa-icon "plus"}}</button>
            </div>
          </div>

        </div><!-- end year-group; year on top, controls on bottom -->


            <!-- toggle outerra markers on and off -->
            <div style="margin-left: 30%;" id="toggleOuterraMarkersContainer" class="row">
              <button {{ action 'toggleOuterraMarkers' }} id="toggleOuterraMarkers" class="btn-danger" type="button">Toggle Markers</button>
            </div>
            <!-- end toggleOuterraMarkers -->



        <!-- year-group-- year and controls one row -->

<div id="year-group" class="form-group btn-group year-group-tablet">
          <p id="year-desc" class="map-step" class="year-desc-3">
           Step 4: Animate the future forest
            <hr class="maps-hr">
          </p>
          <div class="row col-sm-12 year-tablet-container">

          <div id="year-field-container" class="year-tablet-left">
            {{view Ember.TextField valueBinding="controller.year" class="year-field"}}
          </div>

         <!-- <div id="year-controls-container" class="col-sm-3">-->
          <div class="year-tablet-right">
            <div class="minus-container">
              <button id="minusYear" class="btn-control" {{action 'minusYear'}}>{{fa-icon "minus"}}</button>
            </div>

            <div class="play-container">
              <button id="playPause" class="btn-control fa fa-play" {{action 'playPause'}}></button> 
            </div>

            <div class="plus-container">
              <button id="plusYear" class="btn-control" {{action 'plusYear'}}>{{fa-icon "plus"}}</button>
            </div>
          </div>
         <!-- </div>-->
        </div>

        </div>

       <!-- end year-group-- year and controls one row --> 
        <div class="row bottom-row-tablet">
        <div id="map-legend" class="map-legend-tablet">
          <h3>Likelihood of<br>Species Presence <button class="cesium-modal-button" {{action 'showModal' 'maptip3-modal'}}>?</button></h3>
          <hr class="maps-hr"> 
          <div class="map-legend-sub">
            <div id="suitability-circles">
              <div class="row">
                <div class="oval-high">High</div>
              </div>
              <div class="row">
                <div class="oval-mid">Medium</div>
              </div>
              <div class="row">
                <div class="oval-low">Low</div>
              </div>
            </div> <!-- suitability-circles -->
            
            <!-- toggle outerra markers on and off -->
            <div id="toggleOuterraMarkersContainer" class="row">
              <button {{ action 'toggleOuterraMarkers' }} id="toggleOuterraMarkers" class="btn-danger" type="button">Toggle Markers</button>
            </div>
            <!-- end toggleOuterraMarkers -->

          </div> <!-- map-legend-sub -->
        </div> <!-- map-legend for tablet -->
        <div class="credits-container credits-container-tablet">
	        <span>Powered by:</span>
	        <a href="https://www.aspennature.org/" target="_blank"><div class="cesium-aces"></div></a>
          <a href="http://bien.nceas.ucsb.edu/bien/" target="_blank"><div class="cesium-bien"></div></a>
	        <div class="cesium-ua"></div>

	      </div> <!-- cesium credits tablet -->
        
                </div> <!-- /row -->

      

      </div> <!-- cesium-left-col-->

      <div id="cesium-mid-col" class="col-md-1 full-height">
        <div id="map-legend">
          <h3>Likelihood of<br>Species Presence <button class="cesium-modal-button" {{action 'showModal' 'maptip3-modal'}}>?</button></h3>
          <hr class="maps-hr"> 
          <div class="map-legend-sub">
           
            <div id="suitability-circles">
              <div class="row">
                <div class="oval-high">High</div>
              </div>
              <div class="row">
                <div class="oval-mid">Medium</div>
              </div>
              <div class="row">
                <div class="oval-low">Low</div>
              </div>
            </div> <!-- suitability-circles -->
            
          </div> <!-- map-legend-sub -->
        </div> <!-- map-legend -->


	<div class="credits-container">
	  <span>Powered by:</span>
	  <a href="https://www.aspennature.org/" target="_blank"><div class="cesium-aces"></div></a>
    <a href="http://bien.nceas.ucsb.edu/bien/" target="_blank"><div class="cesium-bien"></div></a>

	  <div class="cesium-ua"></div>
	</div>
      </div> <!-- cesium-mid-col-->

      <div id="cesium-right-col" class="col-md-8 full-height">
        <div id="cesiumViewContainer" class="container full-hw">
          <div id="cesiumContainer"> 
            <div id="baseLayerPickerContainer" style="position:absolute;top:124px;right:376px;width:38px;height:38px;z-index:100;"></div>
          </div><!-- cesiumContainer -->
        </div><!-- cesiumViewContainer -->
      </div><!--cesium-right-col -->

    </div>
  </div> <!-- cesium--submain -->
</div> <!-- cesium-main-->


<!-- begin instructions modal -->

<div class="modal fade" id="instructions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-instr-dialog">
    <div class="modal-content modal-instructions">
      <div class="modal-header instr-modal-header">
                <span class="modal-title instr-modal-title" id="myModalLabel">Oops... we can't find WebGL</span> <span class="instr-help cesium-navigationHelpButton-wrapper"><div class="cesium-button cesium-toolbar-button cesium-navigation-help-button"><svg viewBox="0 0 32 32" height="32" width="32" class="cesium-svgPath-svg"><path d="M16,1.466C7.973,1.466,1.466,7.973,1.466,16c0,8.027,6.507,14.534,14.534,14.534c8.027,0,14.534-6.507,14.534-14.534C30.534,7.973,24.027,1.466,16,1.466z M17.328,24.371h-2.707v-2.596h2.707V24.371zM17.328,19.003v0.858h-2.707v-1.057c0-3.19,3.63-3.696,3.63-5.963c0-1.034-0.924-1.826-2.134-1.826c-1.254,0-2.354,0.924-2.354,0.924l-1.541-1.915c0,0,1.519-1.584,4.137-1.584c2.487,0,4.796,1.54,4.796,4.136C21.156,16.208,17.328,16.627,17.328,19.003z"></path></svg></div></span>
<button type="button" class="close instr-close" data-dismiss="modal" aria-hidden="true">&times;</button>

      </div>
      <div class="modal-body">

      <h2>This site requires WebGL and it looks like your browser does not have it enabled.</h2>
      <p>To enable WebGL, please follow the instructions <a href="http://www.browserleaks.com/webgl#howto-enable-disable-webgl">HERE</a></p>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">
        Close
      </button>
    </div>
  </div>
</div>
</div>
<!-- / modal instructions -->
